version: "3.8"

services:
  web:
    build: .
    container_name: BlueDream
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=db,1433;Database=BlueDreamDb;User=sa;Password=YourStrong!Pass123;Encrypt=False;
    depends_on:
      - db

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver_db
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong!Pass123
    ports:
      - "14333:1433"
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data: