@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    
    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="featured-carousel owl-carousel">
              
              <!-- Item 1 -->
              <div class="item">
                <div class="work-wrap d-md-flex">
                  <div class="img order-md-last" style="background-image: url(images/slides/work-1.jpg);"></div>
                  <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                    <div class="desc w-100">
                      <h2 class="mb-4">Define <br> Your Budget</h2>
                      <p class="h5">Call: 0123 456 78901</p>
                      <p class="h5 mb-4">Email Address: email@info.com</p>
                      <div class="row justify-content-end">
                        <div class="col-xl-8">
                          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        </div>
                      </div>
                      <p>
                        <a href="@Url.Action("Index", "Booking")" class="btn btn-dark mb-2 py-3 px-4">Booking Now</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Item 2 -->
              <div class="item">
                <div class="work-wrap d-md-flex">
                  <div class="img order-md-last" style="background-image: url(images/slides/work-2.jpg);"></div>
                  <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                    <div class="py-md-5">
                      <h2 class="mb-4">Kids <br> Collection</h2>
                      <p class="h5">Call: 0123 456 78901</p>
                      <p class="h5 mb-4">Email Address: email@info.com</p>
                      <div class="row justify-content-end">
                        <div class="col-xl-8">
                          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        </div>
                      </div>
                      <p>
                        <a href="@Url.Action("Index", "Booking")" class="btn btn-dark mb-2 py-3 px-4">Booking Now</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Item 3 -->
              <div class="item">
                <div class="work-wrap d-md-flex">
                  <div class="img order-md-last" style="background-image: url(images/slides/work-3.jpg);"></div>
                  <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                    <div class="py-md-5">
                      <h2 class="mb-4">Ladies <br> Collection</h2>
                      <p class="h5">Call: 0123 456 78901</p>
                      <p class="h5 mb-4">Email Address: email@info.com</p>
                      <div class="row justify-content-end">
                        <div class="col-xl-8">
                          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        </div>
                      </div>
                      <p>
                        <a href="@Url.Action("Index", "Booking")" class="btn btn-dark mb-2 py-3 px-4">Booking Now</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Item 4 -->
              <div class="item">
                <div class="work-wrap d-md-flex">
                  <div class="img order-md-last" style="background-image: url(images/slides/work-4.jpg);"></div>
                  <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                    <div class="py-md-5">
                      <h2 class="mb-4">Ladies <br> Collection</h2>
                      <p class="h5">Call: 0123 456 78901</p>
                      <p class="h5 mb-4">Email Address: email@info.com</p>
                      <div class="row justify-content-end">
                        <div class="col-xl-8">
                          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        </div>
                      </div>
                      <p>
                        <a href="@Url.Action("Index", "Booking")" class="btn btn-dark mb-2 py-3 px-4">Booking Now</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="js/crousel/popper.js"></script>
    <script src="js/crousel/owl.carousel.min.js"></script>
    <script src="js/crousel/main.js"></script>
  </body>
</html>
